<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An open project for genealogical data communications.">
  <meta name="author" content="">

  <title>GEDCOM X: {{page.title}}</title>

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.css">
</head>

<body>

<div class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gxsubmenu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#">
      <ul class="nav navbar-nav">
        <li><img src="gxlogo.png"></li>
        <li class="navbar-brand">GEDCOM <span class="text-primary">X</span></li>
      </ul>
    </a>
  </div>
  <div class="navbar-collapse collapse" id="gxsubmenu">
    <ul class="nav navbar-nav">
      <li id="nav-about"><a href="About.html">About</a></li>
      <li id="nav-specs"><a href="Specifications.html">Specs</a></li>
      <li id="nav-code"><a href="Developers-Guide.html">Dev</a></li>
      <li id="nav-community"><a href="Community.html">Community</a></li>
      <li id="nav-faq"><a href="FAQ.html">FAQ</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>{{page.title}}</h1>
      </div>

      {{content}}

      <div id="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'fs-at-github';
          var disqus_identifier = '{{ page.url }}';
          var disqus_url = 'http://familysearch.github.com/gedcomx{{ page.url }}';
        </script>
        <script type="text/javascript" src="http://disqus.com/forums/fs-at-github/embed.js"></script>
        <noscript><a href="http://fs-at-github.disqus.com/?url=ref">View the discussion thread.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
      
      <div class="well text-center">
        <p><small>Last Modified: <span class="text-muted">{{page.date}} by {{page.author}}</span> | Copyright &copy; <script type="text/javascript" language="javascript">d = new Date;document.write(d.getFullYear());</script> <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Intellectual Reserve, Inc.</span></small></p>
        <p><small>Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</small></p>
        <img src="http://www.cloudbees.com/sites/default/files/Button-Powered-by-CB.png" width="96"/>
      </div>
    </div>
  </div>
</div> <!--! end of #container -->


<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script>
  var _gaq=[["_setAccount","UA-11976408-2"],["_trackPageview"]];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
</script>

</body>
</html>
