body {
background-color:#FFF;
color:#000;
font-family:"lucida grande", verdana, arial, helvetica, sans-serif;
font-size:83%;
margin:2em;
}

h1,h2,h3,h4,h5,h6 {
font-family:helvetica neue, arial, "MS Sans Serif", sans-serif;
font-style:normal;
font-weight:700;
}

h1 {
background-color:transparent;
border-bottom:4px solid #efefef;
color:#111;
padding-bottom:2px;
}

h3 {
background-color:transparent;
color:#333;
}

td.header {
background-color:#666;
color:#FFF;
font-family:arial, helvetica, sans-serif;
font-size:x-small;
vertical-align:top;
width:33%;
}

td.author {
font-size:x-small;
font-weight:700;
margin-left:4em;
}

a.info {
position:relative;
z-index:24;
}

a.info:hover {
background-color:#369;
color:#FFF;
text-decoration:none;
z-index:25;
}

a.info span {
display:none;
}

a.info:hover span.info {
background-color:#EEE;
border:1px solid #333;
color:#369;
display:block;
font-size:smaller;
left:-5em;
padding:2px;
position:absolute;
text-align:left;
top:2em;
width:15em;
}

a:link {
background-color:transparent;
color:#369;
}

a:visited {
background-color:transparent;
color:#666;
}

a:active {
background-color:transparent;
color:#888;
}

p {
margin-left:2em;
margin-right:2em;
}

p.toc {
font-size:small;
font-weight:700;
margin-left:3em;
}

table.toc {
border:0;
margin:0 0 0 3em;
padding:0;
vertical-align:text-top;
}

td.toc {
font-size:small;
font-weight:700;
vertical-align:text-top;
}

li {
margin-left:1em;
padding-left:1.2em;
}

em {
font-style:italic;
}

dfn {
font-style:normal;
font-weight:700;
}

cite {
font-style:normal;
font-weight:400;
}

tt {
color:#036;
}

tt,pre,pre dfn,pre em,pre cite,pre span {
font-family:"Courier New", Courier, monospace;
font-size:small;
}

pre {
background-color:#f7f7f7;
color:#000;
padding:4px;
text-align:left;
width:auto;
}

pre em {
background-color:#FFC;
color:#66F;
font-weight:400;
}

pre .key {
color:#33C;
font-weight:700;
}

pre .str {
background-color:#CFF;
color:#000;
}

pre .val {
color:#066;
}

pre .rep {
color:#909;
}

pre .oth {
background-color:#FCF;
color:#000;
}

pre .err {
background-color:#FCC;
}

table.all,table.full,table.headers,table.none {
border-collapse:collapse;
border-width:2px;
font-size:small;
text-align:center;
vertical-align:top;
}

table.all,table.full {
border-color:#000;
border-style:solid;
}

th {
border-color:#000;
border-width:2px 2px 3px;
font-weight:700;
}

table.all th,table.full th {
border-style:solid;
}

table.headers th {
border-style:none none solid;
}

table.all td {
border-color:#333;
border-style:solid;
border-width:1px 2px;
}

hr {
background-color:#e7e7e7;
border:1px solid #e7e7e7;
height:1px;
}

hr.insert {
background-color:#CCC;
border-style:none;
border-width:0;
color:#CCC;
width:80%;
}

.obsolete-note {
background:#fff0b9;
border:1px solid #ededed;
color:#5f5f5f;
font:bold 1.15em Arial, Helvetica, sans-serif;
margin:0 auto;
padding:15px;
width:75%;
}

.obsolete-note strong {
color:#1f1f1f;
font:bold Arial, Helvetica, sans-serif;
}

td.author-text,p.copyright {
font-size:x-small;
}

a,strong {
font-weight:700;
}

ol.text,ul.text {
margin-left:1em;
margin-right:2em;
}

pre dfn,pre .id {
color:#369;
}

table.headers,table.none,table.none th,table.full td,table.headers td,table.none td {
border-style:none;
}