/*
	xBreadcrumbs (Extended Breadcrumbs) jQuery Plugin
	� 2009 ajaxBlender.com
	For any questions please visit www.ajaxblender.com 
	or email us at support@ajaxblender.com
*/

.xbreadcrumbs {
	position: relative;
	z-index: 1000;
}
.xbreadcrumbs LI UL { 
	position: absolute;
	float: left;
}
.xbreadcrumbs, .xbreadcrumbs LI, .xbreadcrumbs UL, .xbreadcrumbs UL LI {
	list-style: none;
	margin: 0;
	padding: 0;
}
.xbreadcrumbs { clear: both; }
.xbreadcrumbs, .xbreadcrumbs LI {
	float: left;
}
.xbreadcrumbs UL {
	display: none;
}

/*  Base style of xBreadcrumbs  */
/*  Top Level  */
.xbreadcrumbs {
	background: #edebce;
	width: 100%;
}
.xbreadcrumbs LI {
    border-right: none;
    background: url(../img/breadcrumb-separator.gif) no-repeat right center;
    padding: 5px 15px 5px 10px;
	height: 16px;
}
.xbreadcrumbs LI.current {
	background: none;
}
.xbreadcrumbs LI UL LI {
    background: none;
}
.xbreadcrumbs LI A {
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.xbreadcrumbs LI A.home {
    background: url(../img/home.gif) no-repeat left center;
    padding-left: 20px;
}
.xbreadcrumbs LI A:HOVER, .xbreadcrumbs LI.hover A {
	color: #b2a581;
}
/*  Top Level - Current Page  */
.xbreadcrumbs LI.current A {
	color: #333333;
	font-weight: bold;
}
/*  Sub-level  */
.xbreadcrumbs LI UL {
	padding: 3px;
	background: #edebce;
	font-size: 11px;
	width: 180px;
	top: 25px;
}
.xbreadcrumbs LI UL LI {
	float: left;
	width: 100%;
	border-right: none;
	height: auto;
}
.xbreadcrumbs LI UL LI A {
	text-decoration: none;
	color: #666666 !important;
	display: block;
	padding: 4px;
	border-bottom: 1px dotted #666666;
}
.xbreadcrumbs LI UL LI:last-child A {
	border-bottom: none;
}
.xbreadcrumbs LI UL LI A:HOVER {
    background: #edebce;
}